<%= simple_form_for @website do |form| %>
  <% if website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
      <% website.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.association :country %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :website_url %>
  </div>



<!--   <div class="field">
    <%= form.association :company, id: :website_company_id %>
  </div> -->

  <div class="field">
    <%= form.input :category, collection: Website.categories.keys %>
  </div>

  <div class="field">
    <%= form.input :status, collection: Website.statuses.keys %>
  </div>

  <div class="field">
    <%= form.label :description %>
      <%= form.text_area :description, id: :website_description %> 

  </div>

  <div class="field">
    <%= form.label :contacts %>
    <%= form.text_area :contacts, id: :website_contacts %>
  </div>

  <div class="field">
    <%= form.label "Monthly visits" %>
    <%= form.number_field :monthly_visits, id: :website_monthly_visits %>
  </div>

<!--   <div class="field">
    <%= form.label :country_rank %>
    <%= form.number_field :country_rank, id: :website_country_rank %>
  </div> -->

  <div class="field">
    <%= form.label :valid_for_yandex %>
    <%= form.check_box :valid_for_yandex, id: :website_valid %>
  </div>

  

 <!--  <div class="field">
    <%= form.label :bounce_rate %>
    <%= form.number_field :bounce_rate, id: :website_bounce_rate %>
  </div> -->

  <div class="form-actions col-sm-offset-3">
    <%= form.button :submit %>
  </div>

  
<% end %>
