<div class="container">
<p id="notice"><%= notice %></p>

<%= link_to 'Back to website list', websites_path %>

<br>
<br>

<div class="colored_heading">
<h3><%= @website.url %></h3>
</div>

<br>

<table class="table table-nonfluid">
  <thead>
    <tr>
      <th>Country of presence</th>
      <th>Monthly visits</th>
      <th>Category</th>
<!--       <th>Company</th>
 -->      <th>Contacts</th>
      <th>Country rank</th>
      <th>Status</th>
      <th>Bounce rate</th>
  
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @website.country.name %></td>
        
        <%- if @website.monthly_visits %>
          <td><%= @website.monthly_visits/1000%>K</td>
        <%- else %>
          <td></td>
        <%- end %>

        <td><%= @website.category %></td>
        
   <!--      <%- if @website.company %>
          <td>$<%= @website.company.name %></td>
        <%- else %>
          <td></td>
        <%- end %> -->

        <td><%= @website.contacts %></td>
        <td><%= @website.country_rank %></td>
        <td><%= @website.status %></td>
        <td><%= @website.bounce_rate %></td>

        <td><%= link_to 'Edit', edit_website_path(@website) %></td>
      </tr>
  </tbody>
</table>

<br>
</div>



<h5><%= "Traffic of" + " " + @website.url + " " + "by countries" %></h5>


<%= simple_form_for Traffic.new do |form| %>
  
  <ul>
    <li>
      <div class="field">
        <%= form.association :country %>
      </div>
    </li>

  <%= form.hidden_field :website_id, value: @website.id  %>
  <%= form.hidden_field :mother_country_id, value: @website.country.id  %>


<li>
  <div class="field">
    <%= form.label :country_share %>
    <%= form.number_field :country_share, id: :traffic_country_share %>
  </div>
</li>

<li>
  <div class="form-actions col-sm-offset-3">
    <%= form.button :submit %>
  </div>
</li>

</ul>

<% end %>





<table class="table table-nonfluid">

  <thead>
    <tr>
      <th>Country</th>
      <th>Country share</th>
      <th>Yearly visits</th>
      <th>Annual turnover ($80)</th>
      <th>Fee (0.8%)</th>
     <!--  <th>Country visits</th>
      <th>Bounce rate</th>
      <th>Country visitors</th>
      <th>Annual turnover</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traffics.each do |traffic| %>
      <tr>
        <td><%= link_to traffic.country.name, traffic.country %></td>
        <%- if traffic.country_share %>
        <td><%= (traffic.country_share*100).round(2) %>%</td>
        <% end %>

        <%- if traffic.country_visits %>
          <td><%= traffic.country_visits/1000000 %>mln</td>
        <% else %>
          <td>mln</td>
        <% end %>
        <%- if traffic.annual_turnover %>
        <td>$<%= traffic.annual_turnover/1000000 %>mln</td>
        <% else %>
          <td>$</td>
        <% end %>

        <%- if traffic.annual_turnover %>
          <td>$<%= ((traffic.annual_turnover/1000)*Setting.last.yandex_net_fee).round %>K</td>
        <% else %>
          <td>$</td>
        <% end %>

        <td><%= link_to 'Edit', edit_traffic_path(traffic) %></td>
        <td><%= link_to 'X', traffic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>
