<%= simple_form_for @traffic do |form| %>
  <% if traffic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(traffic.errors.count, "error") %> prohibited this traffic from being saved:</h2>

      <ul>
      <% traffic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.association :country %>
  </div>

  <div class="field">
    <%= form.association :website, label_method: :url  %>
  </div>

  <div class="field">
    <%= form.label :country_share %>
    <%= form.number_field :country_share, id: :traffic_country_share %>
  </div>

  <div class="field">
    <%= form.label :country_visits %>
    <%= form.number_field :country_visits, id: :traffic_country_visits %>
  </div>

  <div class="field">
    <%= form.label :bounce_rate %>
    <%= form.number_field :bounce_rate, id: :traffic_bounce_rate %>
  </div>

  <div class="field">
    <%= form.label :country_visitors %>
    <%= form.number_field :country_visitors, id: :traffic_country_visitors %>
  </div>

  <div class="field">
    <%= form.label :annual_turnover %>
    <%= form.number_field :annual_turnover, id: :traffic_annual_turnover %>
  </div>

  <div class="form-actions col-sm-offset-3">
    <%= form.button :submit %>
  </div>

<% end %>
