<div class="container">

<p id="notice"><%= notice %></p>

<h1>Traffics</h1>

<table class="table table-nonfluid">

  <thead>
    <tr>
      <th>Country</th>
      <th>Website</th>
      <th>Country share</th>
     <!--  <th>Country visits</th>
      <th>Bounce rate</th>
      <th>Country visitors</th>
      <th>Annual turnover</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traffics.each do |traffic| %>
      <tr>
        <td><%= traffic.country.name %></td>
        <td><%= traffic.website.url %></td>
        <td><%= traffic.country_share %>%</td>
       <!--  <td><%= traffic.country_visits %></td>
        <td><%= traffic.bounce_rate %></td>
        <td><%= traffic.country_visitors %></td>
        <td><%= traffic.annual_turnover %></td> -->
        <td><%= link_to 'Show', traffic %></td>
        <td><%= link_to 'Edit', edit_traffic_path(traffic) %></td>
        <td><%= link_to 'Destroy', traffic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traffic', new_traffic_path %>
</div>