<div class="container">
<p id="notice"><%= notice %></p>

<%= link_to 'Back to country list', countries_path %>

<br>
<br>

<div class="colored_heading">
<h3><%= @country.name %></h3>
</div>

<br>

<ul class="mininav">
  <li class="mininav_link" > 
      <%= link_to "Top websites", country_path(@country), :class=>"nav-link"  %>
  </li>

  <li class="mininav_link" > 
      <%= link_to "Top importers", foreign_buyers_country_path(@country), :class=>"nav-link"  %>
  </li>

  <li class="mininav_link" > 
      <%= link_to "Buys from", buys_from_country_path(@country), :class=>"nav-link"  %>
  </li>

    <li class="mininav_link" > 
      <%= link_to "Internal market", internal_turnover_country_path(@country), :class=>"nav-link"  %>
  </li>

  <li class="mininav_link" > 
      <%= link_to "Payment systems", "#", :class=>"nav-link"  %>
  </li>

</ul>


<br>


<h5><%= "Where" + " " + @country.name + " " + "buys from"%></h5>

<table class="table table-nonfluid">
  <thead>
    <tr>
      <th>Country</th>
      <th>URL</th>
      <th>Country visits (yearly)</th>
      <th>Turnover (yearly)</th>
      <th>Fee (yearly, 0.8%)</th>
      <th>Category</th>
      <th>Status</th>
   <!--    <th>Description</th>
      <th>Contacts</th>
      <th>Monthly visits</th>
      <th>Country rank</th> -->
<!--       <th>Valid</th>
 -->    <!--   <th>Status</th>
      <th>Bounce rate</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traffics.each do |traffic| %>
      <tr>
        <td><b><%= traffic.website.country.name %></b></td>
        <td><b><%= link_to traffic.website.url, traffic.website %></b></td>
        <%- if traffic.website.monthly_visits %>
          <%- @country_visits = (traffic.website.monthly_visits*12/1000*(traffic.country_share)).round %>
          <td><%= @country_visits %>K</td>
        <%- else %>
          <td></td>
        <%- end %>

        <%- if @country_visits && traffic.website.setup %>
          <td>$<%= @country_visits*12*traffic.website.setup.average_bill*traffic.website.setup.conversion %>K</td>
        <%- else %>
          <td></td>
        <%- end %>

        <%- if @country_visits && traffic.website.setup %>
          <td>$<%= @country_visits*12*traffic.website.setup.average_bill*traffic.website.setup.conversion*traffic.website.setup.yandex_net_fee  %>K</td>
        <%- else %>
          <td></td>
        <%- end %>

        <td><b><%= traffic.website.category %></b></td>
        <td><b><%= traffic.website.status %></b></td>

      <td><%= @info %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить сайт', new_website_path %>


</div>










