<div class="container">
<p id="notice"><%= notice %></p>

<%= link_to 'Back to country list', countries_path %>

<br>
<br>

<div class="colored_heading">
<h1><%= @country.name %></h1>
</div>

<br>



<ul class="mininav">
  <li class="mininav_link" > 
      <%= link_to "Top websites", country_path(@country), :class=>"nav-link"  %>
  </li>

  <li class="mininav_link" > 
      <%= link_to "Top importers", foreign_buyers_country_path(@country), :class=>"nav-link"  %>
  </li>

  <li class="mininav_link" > 
      <%= link_to "Buys from", buys_from_country_path(@country), :class=>"nav-link"  %>
  </li>


  <li class="mininav_link" > 
      <%= link_to "Internal market", internal_turnover_country_path(@country), :class=>"nav-link"  %>
  </li>

  <li class="mininav_link" > 
      <%= link_to "Payment systems", payment_systems_country_path(@country), :class=>"nav-link"  %>
  </li>

</ul>



<br>
<br>
<br>
<br>


<h5><%= "Who buys from" + " " + @country.name%></h5>


<table class="table table-nonfluid">
  <thead>
    <tr>
      <th>Country</th>
      <th>Annual turnover</th>
      <th>Fee (0.8%)</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
        <%- unless @inflows.length == 0  %>
          <%- @inflows.each do |inflow|  %>
            <tr>
              <td><%= link_to Country.where(id: inflow.importer_country_id).take.name %></td>
              <td>$<%= inflow.annual_turnover/1000000 %> mln</td>
              <td>$<%= (inflow.annual_turnover*Setting.last.yandex_net_fee).round %></td>
            </tr>
          <% end%>
        <% end%>
  </tbody>
</table>

<br>
