<p id="notice"><%= notice %></p>

<h1>Countries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sales region</th>
      <th>Importer region</th>
      <th>Market volume</th>
      <th>Users</th>
      <th>Shoppers</th>
      <th>Game market</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.sales_region %></td>
        <td><%= country.importer_region %></td>
        <td><%= country.market_volume %></td>
        <td><%= country.users %></td>
        <td><%= country.shoppers %></td>
        <td><%= country.game_market %></td>
        <td><%= country.description %></td>
        <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
        <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Country', new_country_path %>
